body {
	background-color: #ffffff;
	color: #333333;
	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#content {
	margin: 20px 40px 0 40px;
	padding: 0;
}

#content p {
	margin: 12px 20px 12px 0;
}

#content h1 {
	border-bottom: 1px solid #666;
	color: #e13300;
	font-size: 24px;
	font-weight: normal;
	margin: 20px 0 10px 0;
	padding: 3px 0 7px 3px;
}

#content h2 {
	border-bottom: 1px solid #999;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	margin: 18px 0 16px 0;
	padding: 5px 0 6px 0;
}

#content h3 {
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	margin: 16px 0 15px 0;
	padding: 0 0 0 0;
}

#content pre {
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	margin: 14px 0 14px 0;
	overflow: auto;
	padding: 12px 10px 12px 10px;
}
